APP_PORT=3002
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=""
DB_NAME=pasarkita_marketplace

API_GATEWAY_BASE_URL=http://localhost:3000
ENABLE_GATEWAY_FORWARD=false
REQUIRE_AUTH=false
JWT_SECRET=dev-secret
